<%= render 'header' %>

<section id="ccr-main-section">
  <div class="container">


    <section id="ccr-left-section" class="col-md-8">




      <div class="ccr-last-update">
        <div class="update-ribon"></div> <!-- /.update-ribon -->
        <span class="update-ribon-right"></span> <!-- /.update-ribon-left -->
        <div class="update-news-text" id="update-news-text">
          <ul id="latestUpdate">
            <%= link_to 'Bảng xếp hạng BRICS 2014', home_brics_path %>
          </ul>
        </div> <!-- /.update-text -->


      </div> <!-- / .ccr-last-update -->

      <div class="ccr-last-update">
        <div class="update-ribon"></div> <!-- /.update-ribon -->
        <span class="update-ribon-right"></span> <!-- /.update-ribon-left -->
        <div class="update-news-text" id="update-news-text">
          <ul id="latestUpdate">
            <%= link_to 'Các thành phố tốt nhất cho sinh viên', home_city_path %>

          </ul>
        </div> <!-- /.update-text -->

      </div>





    </section><!-- /.col-md-8 / #ccr-left-section -->





  </div><!-- /.container -->
</section><!-- / #ccr-main-section -->


<%= render 'footer' %>