<%= render 'header' %>

<section id="ccr-main-section">
  <div class="container">


    <section id="ccr-left-section" class="col-md-8">


      <% @rank.each do |rank| %>
          <div class="ccr-last-update">
            <div class="update-ribon"></div> <!-- /.update-ribon -->
            <span class="update-ribon-right"></span> <!-- /.update-ribon-left -->
            <div class="update-news-text" id="update-news-text">
              <ul id="latestUpdate">

                <%= link_to rank.title, {:action => 'rank_detail', :id => rank.id} %>

              </ul>
            </div> <!-- /.update-text -->
          </div> <!-- / .ccr-last-update -->
      <% end %>



    </section><!-- /.col-md-8 / #ccr-left-section -->


  </div><!-- /.container -->
</section><!-- / #ccr-main-section -->

<%= render 'footer' %>